@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: #fc7614;
  --light-grey: #969fad;
  --medium-grey: #7c8798;
  --dark-blue: #262e38;
}

* {
  margin: 0;
  border: 0;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  font-family: "Overpass";
}

#container {
}

.container,
.container-ty {
  width: 412px;
  height: 416px;
  background: radial-gradient(
    circle,
    rgba(35, 42, 52, 1) 0%,
    rgba(24, 30, 39, 1) 100%
  );
  border-radius: 3rem;
  padding: 3.2rem;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 4.8rem;
  background: #262e38;
  border-radius: 50%;
}

.heading {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-top: 3rem;
}

.request {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--light-grey);
  margin-top: 1.5rem;
  width: 34rem;
}

.rating-grid {
  display: flex;
  justify-content: space-between;
  margin: 2.4rem 0 3.2rem 0;
}

.rating-number-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.1rem;
  height: 5.1rem;
  background: var(--dark-blue);
  border-radius: 50%;
  color: var(--medium-grey);
}

.rating-number-item:hover {
  cursor: pointer;
  background: var(--medium-grey);
  color: #fff;
}

.rating-number {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  height: 4.5rem;
  background: var(--orange);
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.899rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-radius: 3rem;
  padding: 0 0 1rem 0;
}

.btn:hover {
  cursor: pointer;
  background: #fff;
  color: var(--orange);
  padding: 0;
}

.btn:active {
  transform: translate(0, 0.15rem);
}

/* Thank you styles */

.container-ty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-ty {
  display: none;
}

.ty-svg {
  margin-top: 1.3rem;
}

.ty-rating {
  margin-top: 3.2rem;
  padding: 4px 19px 4px 20px;
  font-size: 1.5rem;
  color: var(--orange);
  background: var(--dark-blue);
  line-height: 2.4rem;
  border-radius: 2rem;
}

.ty {
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: #fff;
  margin-top: 3.2rem;
}

.ty-text {
  font-size: 1.5rem;
  max-width: 34rem;
  text-align: center;
  line-height: 2.4rem;
  color: var(--light-grey);
  margin-top: 0.7rem;
}

@media screen and (max-width: 375px) {
  .container,
  .container-ty {
    width: 327px;
    height: 360px;
    padding: 24px 24px 32px 24px;
  }

  .heading {
    font-size: 2.4rem;
    margin: 16px 0 10px 0;
  }

  .request {
    font-size: 1.4rem;
    width: 27.9rem;
    margin: 0 0 24px 0;
    line-height: 22px;
  }

  .rating-grid {
    width: 28.1rem;
    margin: 0;
  }

  .rating-number-item {
    width: 4.2rem;
    height: 4.2rem;
  }

  .rating-number {
    font-size: 1.4rem;
  }

  .btn {
    padding: 0;
    margin: 24px 0 0 0;
  }

  .ty-svg {
    transform: scale(0.8);
  }

  .ty-rating {
    margin: 24px 0;
    padding: 5px 12px;
  }

  .ty {
    margin: 0;
    font-size: 24px;
    line-height: 30.5px;
  }

  .ty-text {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }
}
